<%= turbo_frame_tag "quick_add_measurement_entry" do %>
  <section class="rounded-3xl border border-black/[0.04] bg-white p-5 shadow-[0_10px_30px_rgba(0,0,0,0.05)] sm:p-6">
    <%= render "form", measurement_entry: @measurement_entry, return_to: @return_to %>
  </section>
<% end %>
